code {
  background: rgba($white-smoke, .1);
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(black, .1);
  font-size: .85em;
  padding: .13em .42em;
  word-wrap: break-word;
}

.more-opaque-code {
  code {
    background: $white-smoke;
  }
  pre.highlight code {
    background: none;
  }
}


pre.highlight {
  background: $white-smoke;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px rgba(black, .1);
  color: black;
  line-height: 1.3;
  overflow: auto;
  padding: 1em;
  width: auto;
  code {
    background: none;
    box-shadow: none;
    padding: 0;
    word-wrap: initial;
  }
}

li pre.highlight:last-child {
  margin-bottom: 1.5em;
}
