a {
  @extend a.link-underline;
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    outline: none;
  }
  &:hover {
    color: $link-hover-color;
  }
  img {
    border: none;
    outline: none;
  }
}

a.no-underline {
  border-bottom: none;
}

a.link-underline {
  border-bottom: 1px solid;
}
