$breakpoints: (
  xs: 'only screen and (min-width: 320px)',
  sm: 'only screen and (min-width: 480px)',
  md: 'only screen and (min-width: 768px)',
  lg: 'only screen and (min-width: 992px)',
  xl: 'only screen and (min-width: 1200px)'
);
