$boston-blue: #2f86b8;
$mexican-red: #af2138;
$brick-red: #ce2b3d;
$persian-green: #00aa86;
$tuna: #333541;
$tree-poppy: #f8981d;
$confetti: #e7ca5a;

$mine-shaft: #232323;
$sunset-orange: #f95b46;
$blue-ribbon: #1769ff;
$saffron-mango: #f9c659;
$turquoise-blue: #6fdfea;

$black-rock: #13042b;
$carnation: #f24b4b;
$ocean-spray: #6bd6f1;

$mine-shaft: #393939;
$caribbean-green: #06d5ab;
$candlelight: #f9e429;
$outrageous-orange: #ff5b2e;
$azure-radiance: #0084ea;

$casablanca: #f9a84a;
$tan-hide: #fd8e59;
$trout: #4d4d5a;
$butterfly-bush: #514e95;
$wisteria: #ac6bb6;


// Blues
$azure-radiance: #0084ea;
$ocean-spray: #6bd6f1; // *****
$blue-ribbon: #1769ff;
$turquoise-blue: #6fdfea; //*****

// // Greens
$caribbean-green: #06d5ab; // *****
$persian-green: #00aa86;

// // Yellows
$saffron-mango: #f9c659; // *****
$confetti: #e7ca5a;

// // Oranges
$tan-hide: #fd8e59;
$tree-poppy: #f8981d;
$outrageous-orange: #ff5b2e;
$sunset-orange: #f95b46; // *****
$carnation: #f24b4b; // *****

// // Reds
$mexican-red: #af2138; // *****
$brick-red: #ce2b3d; // *****

// // Purples
$wisteria: #ac6bb6; // *****

// // Greys
$mine-shaft: #232323; // *****
$tuna: #333541; // *****


$brick-red: #ce2b3d;
$mexican-red: #af2138;
$saffron-mango: #f9c659;
$mine-shaft: #232323;
$azure-radiance: #0084ea;
$ocean-spray: #6bd6f1;
$carnation: #f24b4b;
$link-color: #068ED0; // #2683F7 // #4C96F3


$brick-red: #ce2b3d;
$mexican-red: #af2138;
$tan-hide: #fd8e59;
$mine-shaft: #232323;
$ocean-spray: #6bd6f1;

$default-color: $mine-shaft;
