$brick-red: #ce2b3d;
$darkened-mine-shaft: #222222;
$emperor: #4F4F4F;
$mexican-red: #af2138;
$mine-shaft: #232323;
$ocean-spray: #6bd6f1;
$persian-green: #00aa86;
$gallery: #ededed;
$white-smoke: #f8f8f8;

$default-color: $mine-shaft;
$link-color: $ocean-spray;
