$page-padding-horizontal: 4%;
$page-padding-horizontal-md: 10%;

$header-height: 134px;
$header-height-md: 224px;

$header-cherry-diameter: 120px;
$header-cherry-diameter-md: 200px;

$footer-height: 50px;
