<div id="wrapper">
  <div class="content">
    <button>Poke<br>Me!</button>
    <div class="doughboy">
      <img src="/images/examples/fade/doughboy.jpg">
      <div class="woohoo">Woohoo!</div>
    </div>
  </div>
  <div class="loader"></div>
</div>
