<section class="main-view"
  ng-class="{ initialized: initialized,
              errors: errors.length,
              empty: posts.length == 0 }">

  <loader class="main-view-loader"></loader>

  <div class="main-view-empty">
    <div class="top-slope downward-slope"></div>
    <div class="bottom-slope upward-slope"></div>
    <span class="content">Coming soon!</span>
  </div>

  <main-view-errors
    errors="errors"
    retry="init()">
  </main-view-errors>

  <div class="main-view-content">
    <posts
      posts="posts">
    </posts>
  </div>
</section>
