<section class="main-view initialized">
  <div class="main-view-content">
    <div class="resume-wrapper">
      <article class="resume">
        <div class="top-slope"></div>
        <div class="content">
          <div class="heading">
            <div class="heading-inner-wrapper">
              <h2 class="title">
                Résumé
              </h2>
            </div>
          </div>
          <div class="body">
            <div class="row overview">
              <div class="col left">
                Overview
              </div>
              <div class="col right">
                I'm a Brooklyn-based full-stack developer who specializes in Javascript, Ruby, and user experience design.
              </div>
            </div>
            <div class="row technologies">
              <div class="col left">
                Technologies
              </div>
              <div class="col right">
                <div class="category">
                  <span class="name">
                    Client-Side
                  </span>
                  <span class="technologies-list">
                    Angular, React/Redux, D3, jQuery, SCSS, Objective-C*
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Server-Side
                  </span>
                  <span class="technologies-list">
                    Rails, Node.js, Sidekiq, Nginx*
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Testing
                  </span>
                  <span class="technologies-list">
                    Rspec, Selenium, Mocha/Chai/JSDOM, Karma*
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Storage
                  </span>
                  <span class="technologies-list">
                    Mongo, Postgres, Redis, LocalStorage
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Misc Tools
                  </span>
                  <span class="technologies-list">
                    Git, NPM, RVM, Bower, Gulp, Grunt, Webpack
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Design
                  </span>
                  <span class="technologies-list">
                    Photoshop, Omnigraffle, Illustrator
                  </span>
                </div>
                <div class="category">
                  <span class="name">
                    Hobby
                  </span>
                  <span class="technologies-list">
                    Alexa Skills, Elixir/Phoenix*, Tensorflow*, Rust*
                  </span>
                </div>
                <div class="footnote">
                  * denotes technologies with which I have comparatively little experience
                </div>
              </div>
            </div>
            <div class="row experience">
              <div class="col left">
                Recent Experience
              </div>
              <div class="col right">
                <job
                  company-name="CipherHealth"
                  role="Senior Developer"
                  range="2014 - 2017">
                  <i>Coming Soon</i>
                </job>
                <job
                  company-name="JCPenney Innovation"
                  role="Senior Developer"
                  range="2012 - 2014">
                  <i>Coming Soon</i>
                </job>
                <job
                  company-name="Wonderfactory"
                  role="Senior Developer"
                  range="2010 - 2012">
                  <i>Coming Soon</i>
                </job>
                <job
                  company-name="OMGPOP"
                  role="Flash Game Developer"
                  range="2010 - 2010">
                  <i>Coming Soon</i>
                </job>
                <job
                  company-name="Fullsix Group"
                  role="Flash / Web Developer"
                  range="2009 - 2010">
                  <i>Coming Soon</i>
                </job>
                <job
                  company-name="Independent"
                  role="Flash / Web Developer"
                  range="2007 - 2009">
                  <i>Coming Soon</i>
                </job>
              </div>
            </div>
            <div class="row education">
              <div class="col left">
                Education
              </div>
              <div class="col right">
                <div>Graduated from Penn State in 2009</div>
                <div>B.S. Information Sciences &amp; Technology</div>
                <div>3.88 cumulative GPA</div>
              </div>
            </div>
          </div>
          <div class="row references">
            <div class="col left">
              References
            </div>
            <div class="col right">
              Available upon request
            </div>
          </div>
        </div>
        <div class="bottom-slope"></div>
      </article>
    </div>
  </div>
</section>
