html, body {
  color: $default-color;
  font-family: $default-font-family;
  font-size: 20px;
  font-weight: $thin-font-weight;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-weight: $light-font-weight;
}

a {
  $link-color: $ocean-spray;

  border-bottom: 1px solid;
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    outline: none;
  }
  &:hover {
    color: darken($link-color, 15%);
  }
}

a.no-underline {
  border-bottom: none;
}

pre.highlight {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(black, .15);
  color: black;
  overflow: auto;
  padding: .5em 1em;
  width: auto;
}

/* Normalize font rendering across browsers */
html.ios body, html.safari body {
  font-weight: $thin-font-weight;
  -webkit-font-smoothing: subpixel-antialiased; // none | antialiased | subpixel-antialiased;
}
html.chrome body {
  -webkit-font-smoothing: subpixel-antialiased; // none | antialiased | subpixel-antialiased;
}
html.firefox body {
  -moz-osx-font-smoothing: grayscale; // auto | grayscale
}
