.posts-page {
  #main-view {
    margin-top: 68px;
  }
}

.list-post, .post {
  .title a {
    border-bottom: none;
    color: $default-color-for-dark-bg;
    padding-bottom: 0;
    &:hover {
      color: $link-hover-color;
    }
  }
  .heading {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .heading-inner-wrapper {
    display: table-row;
  }

  .title, .published-at {
    display: table-cell;
    padding-bottom: 2px;
    vertical-align: text-bottom;
  }
  .title {
    margin: 0;
    width: 100%;
    .series {
      font-size: .5em;
    }
  }
  .published-at {
    display: none;
  }

  @include respond-to(sm) {
    .title {
      width: 70%;
    }
    .published-at {
      display: table-cell;
      font-size: .75em;
      text-align: right;
      width: 30%;
    }
  }
  .tags {
    line-height: 1;
  }
  .tag {
    display: inline-block;
    margin-right: .5em;
  }
}

.list-post {
  border-bottom: 1px dotted rgba(white, .2);
  padding: 1em 0;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  .title {
    font-size: 1.1em;
  }
  a {
    display: block;
  }
  .tags {
    color: $dusty-grey;
    display: none;
    font-size: .65em;
  }
  @include respond-to(sm) {
    .tags {
      display: block;
    }
  }
}

.post {
  position: relative;
  .heading {
    border-bottom: 1px dotted rgba(white, .2);
  }
  figure {
    margin: 2em auto;
    text-align: center;
    figcaption {
      margin-bottom: .5em;
      text-align: center;
    }
    a {
      @extend a.no-underline;
    }
    .chart-wrapper,
    .embedded-content-wrapper,
    .image-wrapper,
    .iframe-wrapper,
    > .katex-wrapper {
      display: block;
      position: relative;
      &:before {
        border-top: 1px dotted rgba(white, .1);
        content: '';
        display: block;
        position: absolute;
        top: 45%;
        width: 100%;
      }
    }
    img:not(.emoji) {
      border-radius: 4px;
      box-shadow: 0 0 6px 0 rgba(black, .15);
      display: inline-block;
      max-width: 100%;
      position: relative;
    }
    twitterwidget {
      margin: auto;
    }
    &.katex-figure {
      figcaption {
        text-align: left;
      }
    }
    > .katex-wrapper .katex {
      background-color: $mine-shaft;
      overflow: visible;
      position: relative;
    }
  }
  .tiny-parenthetical {
    font-size: 0.6em;
    opacity: 0.7;
  }
  .tags {
    font-size: .75em;
    font-weight: $medium-font-weight;
    margin-top: 2em;
  }
}
