.resume-page {
  #main-view {
    margin-top: 56px;
  }
}

.resume {
  .heading {
    border-bottom: 1px dotted rgba(white, .2);
  }

  .row {
    border-bottom: 1px dotted rgba(white, .2);
    font-size: 0;
    margin-bottom: 15px;
    overflow: auto;
    padding-bottom: 15px;
    &:first-of-type {
      margin-top: 15px;
    }
    &.references {
      border-bottom: none;
    }
  }

  .col {
    line-height: 1.5em;
  }
  .col.left {
    color: $gallery;
    font-size: 18px;
    font-weight: $medium-font-weight;
  }
  .col.right {
    font-size: 14px;
  }

  .category-name, .company-name {
    display: block;
    font-weight: $light-font-weight;
    margin-top: .25em;
    @include respond-to(sm) {
      display: inline;
      margin-top: 0;
    }
  }

  .technologies-list,
  .job-range,
  .job-role,
  .job-toggle {
    color: $gallery;
    display: inline-block;
    font-size: .75em;
    margin-bottom: 1em;
    &:before {
      color: white;
      content: '|';
      margin-left: 4px;
      margin-right: 6px;
      opacity: .2;
    }
    @include respond-to(sm) {
      margin-bottom: 0;
    }
  }

  .technologies-list,
  .job-role {
    &:before {
      content: none;
      @include respond-to(sm) {
        content: '|';
      }
    }
  }

  .footnote {
    color: white;
    font-size: .65em;
    opacity: .4;
  }

  .job {
    .toggle {
      border-bottom: none;
      font-size: .65em;
      padding: 3px 0;
      user-select: none;
      vertical-align: 0;
    }
    .secondary {
      .content {
        font-size: 0.75em;
        margin: 0 20px 10px;
      }
    }
  }
  @include respond-to(md) {
    .col.left, .col.right {
      font-size: 16px;
    }
    .col.left {
      float: left;
      width: 25%;
    }
    .col.right {
      float: right;
      width: 75%;
    }
  }
}
