%slope {
  backface-visibility: hidden;
  background-color: $mine-shaft;
  border: 1px solid transparent;
  box-shadow: 0 0 4px 1px rgba(black, .2);
  display: block;
  height: 250px;
  left: 0;
  position: absolute;
  right: 0; // Specifying right 0 (as opposed to width: 100%) prevents horizontal scrolling on mobile
}

%downward-slope {
  transform: skew(0deg, 5deg);
}
