%slope {
  backface-visibility: hidden;
  background-color: $mine-shaft;
  border: 1px solid transparent;
  box-shadow: 0 0 4px 1px rgba(black, .2);
  display: block;
  height: 250px;
  left: 0;
  position: absolute;
  width: 100%;
}

%downward-slope {
  transform: rotate3d(1,1,0, 32deg) scaleX(1.5);
}

%upward-slope {
  transform: rotate3d(1,-1,0, 23deg) scaleX(1.5);
}

html.firefox body #wrapper {
  /* Fixes jagged edges in FF */
  #top-slope, #bottom-slope { box-shadow: none; }
  #top-slope { border-top: 1px solid white; }
  #bottom-slope { border-bottom: 1px solid white; }
}
