/*********************************************************/
/* App */
/*********************************************************/

html:not(.admin) {
  $delay: 1s;
  $duration: .35s;
  $ease: ease-out;

  opacity: 0;
  transition: opacity $duration $ease $delay;
  &.app-initialized {
    opacity: 1;
    transform: scale(1);
  }
}


#main-view {

  /*********************************************************/
  /* MainView:Transitions */
  /*********************************************************/

  $content-delay: .2s;
  $content-duration: .3s;
  $content-ease: ease-out;

  $empty-delay: .2s;
  $empty-duration: .3s;
  $empty-ease: ease-out;

  $errors-delay: .2s;
  $errors-duration: .3s;
  $errors-ease: ease-out;

  $loader-delay: 0s;
  $loader-duration: .3s;
  $loader-ease: ease-out;

  #main-view-content {
    @include fade-transitions($content-duration, $content-ease, $content-delay);
  }

  #main-view-empty {
    @include fade-transitions($empty-duration, $empty-ease, $empty-delay);
  }

  #main-view-errors {
    @include fade-transitions($errors-duration, $errors-ease, $errors-delay);
  }

  /*********************************************************/
  /* MainView:Pre-Initialized */
  /*********************************************************/

  #main-view-loader {
    @include faded-in();
    transform: scale(1);
  }

  #main-view-content,
  #main-view-empty,
  #main-view-errors {
    @include faded-out();
  }


  /*********************************************************/
  /* MainView:Initialized */
  /*********************************************************/

  &.initialized {
    #main-view-content {
      @include faded-in();
    }
  }


  /*********************************************************/
  /* MainView:Errors */
  /*********************************************************/

  &.errors {
    #main-view-errors {
      @include faded-in();
    }
  }


  /*********************************************************/
  /* MainView:Empty */
  /*********************************************************/

  &.empty {
    #main-view-empty {
      @include faded-in();
    }
  }


  /*********************************************************/
  /* MainView:Initialized/Errors */
  /*********************************************************/

  &.initialized, &.errors {
    #main-view-loader {
      @include faded-out();
      @include fade-transitions($loader-duration, $loader-ease, $loader-delay, "transform #{ $loader-duration } #{ $loader-ease } #{ $loader-delay }");
      transform: scale(1.35);
    }
  }
}
